@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (max-width: $content-width) { @content };
}

@mixin media-tablet-middle {
  @media (max-width: $tablet-middle-width){ @content };
}

@mixin media-tablet {
  @media (max-width: $tablet-width) { @content };
}

@mixin media-mobile {
  @media (max-width: $mobile-big-width) { @content };
}

@mixin media-mobile-landscape {
  @media screen and (orientation: landscape) and (min-width: $mobile-small-width) and (max-width: 700px) { @content };
}

@mixin media-mobile-small {
  @media (max-width: $mobile-small-width) { @content };
}
