%transition {
  transition: all 0.5s ease;
}

%custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(124, 172, 143);
    border-radius: 7px;
  }
}

%content-padding {
  padding: 15px;
  padding-top: 70px;
}

%title-dir {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  top: 0px;
  width: 250px;
  font-size: 5rem;
  font-weight: bold;
  padding: 0 10px;
  padding-bottom: 5px;

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 50px;
    background: rgb(216, 213, 213);
    border-radius: 40px;
  }

  &:before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }
}