.contact {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  // background-image: url('./img/portfolio.png');
  // background-repeat: no-repeat;
  // background-position: center center;
}
