.about {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./img/forest-1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: transparent;
  opacity: 0.9;
}

.about__title {
  @extend %title-dir;
}

.about__info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin-bottom: 70px;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(18,19,20);
  opacity: 1;
  transition: all 0.5s ease;

  &_inactive {
    background: transparent;
    margin-bottom: 70px;

    .about__desc {
      margin-top: -2000px;
      @include media-tablet {
        margin-bottom: 400px;
      }
    }

    .avatar {
      margin-top: -2000px;
    }

    .about__arrow {
      transform: translateX(-50%) rotate(0);    
    }

    .about__text {
      opacity: 1;
    }
  }

  @include media-tablet {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.about__arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  font-size: 4rem;
  bottom: -25px;
  color: rgba(255, 255, 255, 0.521);
  animation: pulse-arrow 2s ease infinite;
  border-radius: 50%;
  transition: transform 0.5s ease;
  
  @include media-tablet {
    bottom: -42px;
  }
}

.about__text {
  position: absolute;
  color: rgba(255, 255, 255, 0.863);
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  opacity: 0;
  transition: opacity 1s ease;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
  flex-shrink: 0;
  transition: margin-top 0.5s ease;

  @include media-tablet {
    order: -1;
    margin-bottom: 10px;
    border-radius: 50%;
  }
}

.avatar__img {
  max-width: 100%;
}

.about__desc {
  letter-spacing: 1px;
  color: rgb(185, 177, 177);
  border-radius: 5px;
  font-size: 2.2rem;
  padding: 0px 20px;
  transition: all 0.5s ease;

  @include media-tablet {
    font-size: 1.8rem;
    text-align: center;
  }
}

.weights,
.warning,
.forest,
.coffee-time,
.hands,
.chair
{
  font-size: 2.5rem;
}

.chair {
  color: rgb(157, 157, 202);
}

.forest {
  color: rgb(68, 161, 92);
  font-size: 2.5rem;
}

.warning {
  color: rgb(184, 85, 85);
}

.coffee-time {
  color: rgb(190, 164, 90);
}

.skills {
  position: relative;

  &:after {
    position: absolute;
    content: '';
    top: 57px;
    bottom: 100px;
    left: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.233);
    border-radius: 5px;
  }

  &_active {
    .skill-container {
      &:nth-child(1) {
        .skill__pic {
          animation: big-size 1.9s ease infinite;
          animation-delay: 0.1s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(2) {
        .skill__pic {
          animation: big-size 1.7s ease infinite;
          animation-delay: 0.3s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(3) {
        .skill__pic {
          animation: big-size 1.5s ease infinite;
          animation-delay: 0.5s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(4) {
        .skill__pic {
          animation: big-size 1.3s ease infinite;
          animation-delay: 0.7s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(5) {
        .skill__pic {
          animation: big-size 1.1s ease infinite;
          animation-delay: 0.9s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(6) {
        .skill__pic {
          animation: big-size 0.9s ease infinite;
          animation-delay: 1.1s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    
      &:nth-child(7) {
        .skill__pic {
          animation: big-size 0.7s ease infinite;
          animation-delay: 1.3s;

          @include media-tablet {
            animation: none;
          }
        }
      }
      
      &:nth-child(8) {
        .skill__pic {
          animation: big-size 0.5s ease infinite;
          animation-delay: 1.5s;

          @include media-tablet {
            animation: none;
          }
        }
      }
    }
  }

  @include media-tablet-middle {
    &:after {
      left: 90%;
    }
  }

  @include media-tablet {
    &:after {
      display: none;
    }
  }
}

.skill-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;

  &:nth-child(odd) {
    &:after {
      position: absolute;
      top: 50%;
      content: '';
      height: 1px;
      width: calc(50% - 320px);
      right: 50%;
      background: rgba(145, 140, 140, 0.4);
      z-index: 0;
    }
  }

  &:nth-child(even) {
    &:before {
      position: absolute;
      top: 50%;
      content: '';
      height: 1px;
      width: calc(50% - 320px);
      left: 50%;
      background: rgba(145, 140, 140, 0.4);
    }
  }

  &:nth-child(even) {
    justify-content: flex-end;
  }

  @include media-tablet-middle {
    margin-bottom: 35px;

    &:nth-child(odd) {
      &:after {
        left: 320px;
        width: calc(90% - 320px);
        position: absolute;
        top: 50%;
        content: '';
        height: 1px;
        background: rgba(145, 140, 140, 0.4);
        z-index: 0;
      }
    }

    &:nth-child(even) {
      justify-content: flex-start;
      &:before {
        left: 320px;
        width: calc(90% - 320px);
        position: absolute;
        top: 50%;
        content: '';
        height: 1px;
        background: rgba(145, 140, 140, 0.4);
        z-index: 0;
      }
    } 
  }

  @include media-tablet {
    &:before {
      display: none;
    }
    
    &:after {
      display: none;
    }
  }
}

.skill {
  position: relative;
  width: 320px;
  background: rgba(145, 140, 140, 0.15);
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 1s ease;

  @include media-tablet {
    width: 100%;
  }
}

.skill__pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 15px;
  background: rgba(145, 140, 140, 0.212);
  z-index: 2;
  transition: all 0.5s ease;

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    height: 87%;
    background: rgba(145, 140, 140, 0.3);
    border-radius: 50%;
    z-index: -1;
  }

  @include media-tablet-middle {
    left: 90%;
  }

  @include media-tablet {
    top: 0;
    left: 90%;
    width: 60px;
    height: 60px;
  }
}

.skill__img {
  max-width: 100%;
  height: auto;
}

.skill__title {
  font-size: 3rem;
  display: inline-block;
  color: #fff;
  color: #ced2d2;
  margin-bottom: 5px;
  border-bottom: 3px solid #2bd19a;
}

.skill__description {
  font-size: 1.7rem;
  letter-spacing: 1.4px;
  color: #cfc6c6;
  transition: transform 0.7s ease;
}

@keyframes big-size {
  0% {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    width: 110px;
    height: 110px;
    z-index: 3;
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 70px;
    height: 70px;
    z-index: 2;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.5);
  }
}


@keyframes pulse-arrow {
  0% {
    box-shadow: 0 0 0 0px rgba(87, 86, 86, 0.7);
  }
  50% {
    box-shadow: 0 0 0 20px rgba(56, 56, 56, 0);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(56, 56, 56, 0);
  }
}