.portfolio {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}


.portfolio__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./img/portfolio-1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: transparent;
  opacity: 0.9;
  transition: opacity 0.5s ease;

  &_active {
    opacity: 0;
  }
}


.portfolio__title {
  @extend %title-dir;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;

  &:after {
    content: '';
    display: block;
    width: calc((90% - 20px) / 2);
  }

  @include media-tablet {
    margin-top: 20px;
  }

  @include media-mobile {
    flex-direction: column;
  }
}

.box {
  width: calc((90% - 20px) / 2);
  margin-bottom: 40px;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.15);
  perspective: 500px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  
  &_rotate {
    .box__inner {
      transform: rotateY(180deg);
    }
  }

  @include media-mobile {
    width: 100%;
    margin-bottom: 25px;
  }
}

.box__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 66%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.box__front,
.box__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box__description {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.box__text {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.3rem;
  width: 100%;
  top: 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px 5px 0 0;

  @include media-tablet {
    font-size: 1.8rem;
  }
}

.box__caption {
  flex-grow: 1;
  text-align: center;
}

.box__help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(16, 20, 17, 0.205);
  border-radius: 0 0 0 10px;
  @extend %transition;

  &:hover {
    .box__icon {
      color: rgb(159, 216, 159);
      transform: rotateY(360deg);
    }
  }

  @include media-tablet {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
  }
}

.box__icon {
  font-size: 3rem;
  color: rgb(209, 209, 209);
  @extend %transition;

  @include media-tablet {
    font-size: 2rem;
  }

  @include media-mobile {
    font-size: 3rem;
  }
}

.box__back {
  transform: rotateY(180deg);
  background: rgba(14, 15, 15, 0.8);
}

.box__info {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  top: 5px;
  left: 5px;
  bottom: 5px;
  width: 46%;
  color: rgb(216, 216, 218);
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;

  @include media-tablet {
    font-size: 1.7rem;
  }
}

.source {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  top: 5px;
  bottom: 5px;
  right: 5px;
  width: 48%;
}

.source__link {
  height: 50%;
  width: 100%;
  font-size: 5rem;
  color: rgb(177, 179, 182);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.274);
  transition: color 0.5s ease;

  &:hover {
    color: #2db185;
  }

  &_code {
    margin-bottom: 5px;
  }
  
  @include media-tablet {
    font-size: 3rem;
  }
}