.block-top, .block-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 50%;
  background: #191a1c;
}

.block-top {
  top: 0;
  transition: top 1.2s ease-out;

  &_active {
    top: -50%;
  }
}

.block-bottom {
  bottom: 0;
  transition: bottom 1.2s ease-out;

  &_active {
    bottom: -50%;
  }
}

.info {
  position: absolute;
  display: flex;
  align-items: center;
  color: rgb(218, 214, 214);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: all 0.5s ease;
  animation: info-opacity 1.5s ease;

  @include media-mobile {
   flex-direction: column;
   justify-content: center; 
  }

  &_inactive {
    opacity: 0;
  }

  @include media-mobile {
    padding: 15px 5px;
    border: 1px solid #28292b;
    border-radius: 5px;
  }
}

.info__symbols {
  position: relative;
  color: #01c9bd;
  margin-right: 20px;
  display: flex;
  font-size: 7rem;
  letter-spacing: -0.5rem;
  
  @include media-tablet {
    font-size: 5rem;
    margin-right: 30px;
  }

  @include media-mobile {
    margin-right: 0;
    margin-bottom: 20px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 3px;
    width: 100%;
    height: 3px;
    background: rgb(218, 214, 214);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 3px;
    background: rgb(218, 214, 214);
  }

}

.symb-upper {
  margin-top: 25px;
}

.info__desc {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all 0.5s ease;

  @include media-tablet {
    width: 230px;
  }
}

.info__fullname {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.8rem;

  @include media-tablet {
    font-size: 1.5rem;
  }

  @include media-mobile {
    font-size: 1.4rem;
    margin-bottom: 30px;
  }
}

.info__spec {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.6rem;

  @include media-tablet {
    font-size: 1.3rem;
  }

  @include media-mobile {
    margin-bottom: 20px;
  }


  &:before {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 2px;
    transform: translateY(-50%);
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #01c9bd;

    @include media-mobile {
      right: 90%;
    }
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 2px;
    transform: translateY(-50%);
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #01c9bd;

    @include media-mobile {
      left: 90%;
    }
  }
}

.technologies {
  position: absolute;
  top: 50%;
  left: 50%;
  width:650px;
  height: 650px;
  margin-top: -325px;
  margin-left: -325px;
  border: 1px solid #28292b;
  z-index: 1;
  border-radius: 50%;
  animation: rotation 80s linear infinite;

  @include media-tablet {
    width: 480px;
    height: 480px;
    margin-top: -240px;
    margin-left: -240px;
  }

  @include media-mobile-landscape {
    display: none;
  }

  @include media-mobile {
    display: none;
  }


  &_close {
    animation: big-ball 5s ease;
    .technologies__pic {
      opacity: 0;
    }
  }
}

.technologies__pic {
  position: absolute;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-radius: 50%;
  background: transparent;
  transition: all 0.5s ease;
  animation: rotation-out 80s linear infinite;
  opacity: 0.3;

  @include media-tablet {
    width: 55px;
    height: 55px;
  }

   &:hover {
    opacity: 1;
   }
}

[data-elem="gulp"] {
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

[data-elem="git"] {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

[data-elem="html5"] {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

[data-elem="redux"] {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

[data-elem="js"] {
  right: 13.8%;
  top: 12.9%;
  transform: translate(6.5%, 6.5%);
}

[data-elem="webpack"] {
  right: 13.8%;
  bottom: 12.9%;
  transform: translate(-6.5%, 6.5%);
}

[data-elem="css"] {
  left: 13.8%;
  bottom: 12.9%;
  transform: translate(6.5%, 6.5%);
}

[data-elem="sass"] {
  left: 13.9%;
  top: 12.9%;
  transform: translate(-6.5%, 6.5%);
}

.tech-img {
  max-width: 100%;
  height: auto;
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation-out {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes info-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes big-ball {
  0% {
    width:650px;
    height: 650px;
    margin-top: -325px;
    margin-left: -325px;
    border-color: #2c2d2e;
  }
  100% {
    width:5000px;
    height: 5000px;
    margin-top: -2500px;
    margin-left: -2500px;
    opacity: 0;
    border-color: #47494c;
  }
}