$grey: rgba(255, 255, 255, 0.438);

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.85);
  @extend %transition;
  padding: 0 15px;
  opacity: 0;
  z-index: -1;
  overflow-y: auto;

  &_visible {
    z-index: 100;
    opacity: 1;

    .modal-window {
      transform: translateY(100px);

      @include media-tablet {
        transform: translateY(10px);
      }
    }
  }
}

.modal-window {
  position: relative;
  align-self: flex-start;
  overflow: hidden;
  width: 650px;
  max-width: 650px;
  border-radius: 7px;
  padding: 10px;
  background: rgba(19, 18, 18, 0.699);
  margin-bottom: 20px;
  color: #afb2b3;
  transform: translateY(-200px);
  background: rgb(19,18,18);
  background: linear-gradient(0deg, rgba(19,18,18,1) 27%, rgb(50, 87, 75) 77%);
  @extend %transition;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.164);

  @include media-tablet {
    overflow-y: auto;
  }
}

.modal-header {
  margin-bottom: 7px;
}

.modal-title {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: rgb(223, 222, 222);

  @include media-tablet {
    font-size: 3rem;
  }
}

.modal-body {
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 0;
  }
}

.work {
  position: relative;
}

.work__title {
  text-align: center;
  color: rgb(223, 222, 222);
  font-size: 3rem;

  @include media-tablet {
    font-size: 2.5rem;
    padding-bottom: 5px;
  }
}

.work__description {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding-top: 5px;
  border-top: 1px solid rgba(175, 172, 172, 0.267);

  @include media-tablet {
    flex-direction: column;
  }
}

.work__pic {
  position: relative;
  width: 200px;
  height: 130px;
  margin-right: 10px;
  border-radius: 7px;
  overflow: hidden;
  flex-shrink: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.404);
  }

  @include media-tablet {
    width: 150px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.work__img {
  max-width: 100%;
}

.work__info {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 0 10px 10px;
  @extend %custom-scroll-work;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;

  @include media-tablet  {
    justify-content: center;
  }
}

.techs__caption {
  display: inline-block;
  margin-right: 10px;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

.techs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.techs__item {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    background: rgb(231,241,239);
    background: linear-gradient(-45deg, rgba(231,241,239,0.3) 50%, rgba(241,246,244,0.1) 10%);
  }

  @include media-tablet {
    width: 30px;
    height: 30px;
  }
}

.techs__img {
  max-width: 100%;
}

.work__text {
  text-align: center;
}